import React from 'react';
import { useSelector, useDispatch } from 'react-redux';

import { RootState } from '@/core/store';

import { increment, decrement, incrementByAmount } from './counterSlice';

export const Counter: React.FC = () => {
  const count = useSelector((state: RootState) => state.counter.value);
  const dispatch = useDispatch();

  return (
    <div>
      <h2>Counter Example</h2>
      <div>Value: {count}</div>
      <button onClick={() => dispatch(increment())}>Increment</button>
      <button onClick={() => dispatch(decrement())}>Decrement</button>
      <button onClick={() => dispatch(incrementByAmount(5))}>Increment by 5</button>
    </div>
  );
};
